# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\编译原理\miniplc0-java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
